In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from pathlib import Path
from datetime import datetime
import glob

In [6]:


df=pd.read_csv('data/other_data/pe_ratio.csv')

In [9]:
df.head()

,Company Name,Jun 2010,Sep 2010,Dec 2010,Mar 2011,Jun 2011,Sep 2011,Dec 2011,Mar 2012,Jun 2012,...,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025,Jun 2025
0,20 Microns Ltd.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,28.117424,22.191489,29.383260,54.323077,37.131783,43.636364,64.741935,64.301370,44.431555,48.357741
1,3B Blackbio Dx Ltd.,42.916667,18.205128,29.435484,0.000000,60.319149,39.777778,112.142857,0.0,42.5,...,60.072254,43.958333,88.690745,79.431590,75.009747,84.988628,77.930836,125.628571,172.361407,98.512873
2,3I Infotech Ltd.,19.375000,18.564815,18.384615,13.476923,22.105263,10.436508,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.519608,13.289308,55.622222
3,3M India Ltd.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,190.989791,235.269398,245.978336,309.917951,203.680266,263.967025,0.000000,0.000000,0.000000,0.000000
4,3P Land Holdings Ltd.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,136.133333,134.285714,54.795455,122.545455,137.400000,181.571429,71.320755,281.190476,177.904762,240.095238