In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn 
import os

In [3]:
path_to_data = '/home/abhi/work/major_project/data/data_cleaned'

In [4]:
len(os.listdir(path_to_data))  # 34 features

35

In [12]:
csv_files =  list[str](os.listdir(path_to_data))
path_to_csv_files = [path_to_data+'/'+item for item in csv_files]

In [13]:
path_to_csv_files

['/home/abhi/work/major_project/data/data_cleaned/capital_work_in_progress.csv',
 '/home/abhi/work/major_project/data/data_cleaned/change_in_stock.csv',
 '/home/abhi/work/major_project/data/data_cleaned/current_assets.csv',
 '/home/abhi/work/major_project/data/data_cleaned/current_liabilities_and_provision.csv',
 '/home/abhi/work/major_project/data/data_cleaned/deferred_tax_liability.csv',
 '/home/abhi/work/major_project/data/data_cleaned/depreciation.csv',
 '/home/abhi/work/major_project/data/data_cleaned/dividend_rate.csv',
 '/home/abhi/work/major_project/data/data_cleaned/effect_of_foreign_exchange_differences.csv',
 '/home/abhi/work/major_project/data/data_cleaned/eps_after_extraordinary.csv',
 '/home/abhi/work/major_project/data/data_cleaned/eps_before.csv',
 '/home/abhi/work/major_project/data/data_cleaned/investments.csv',
 '/home/abhi/work/major_project/data/data_cleaned/long_term_borrowings.csv',
 '/home/abhi/work/major_project/data/data_cleaned/long_term_investments.csv',
 '/home/abhi/work/major_project/data/data_cleaned/long_term_loans_and_advances.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_cashflow_from_financing_activities.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_cashflow_from_investing_activities.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_cashflow_from_operating_activities.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_cashflow_inc_or_dec_due_to_cash_or_cash_eq.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_fixed_assets.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_pre_operative_expense.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_profit_loss_from_discontinued_ops.csv',
 '/home/abhi/work/major_project/data/data_cleaned/net_sales.csv',
 '/home/abhi/work/major_project/data/data_cleaned/non_promoter_share_as_a_percentage_of_total.csv',
 '/home/abhi/work/major_project/data/data_cleaned/other_income_and_extraordinary.csv',
 '/home/abhi/work/major_project/data/data_cleaned/other_non_current_assets.csv',
 '/home/abhi/work/major_project/data/data_cleaned/paid_up_capital.csv',
 '/home/abhi/work/major_project/data/data_cleaned/provision_and_contegencies.csv',
 '/home/abhi/work/major_project/data/data_cleaned/reserves.csv',
 '/home/abhi/work/major_project/data/data_cleaned/salaries_and_wages.csv',
 '/home/abhi/work/major_project/data/data_cleaned/share_holder_funds.csv',
 '/home/abhi/work/major_project/data/data_cleaned/short_term_borrowings.csv',
 '/home/abhi/work/major_project/data/data_cleaned/short_term_investments.csv',
 '/home/abhi/work/major_project/data/data_cleaned/short_term_loans_and_advances.csv',
 '/home/abhi/work/major_project/data/data_cleaned/total_other_expenses.csv']

In [14]:
df = pd.read_csv(path_to_csv_files[10])

In [15]:
df

,Company Name,Jun 2010,Sep 2010,Dec 2010,Mar 2011,Jun 2011,Sep 2011,Dec 2011,Mar 2012,Jun 2012,...,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025,Jun 2025
0,20 Microns Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,9.01,0.0,9.11,0.0,17.39,0.0,0.00,0.0,25.04,0.0
1,3B Blackbio Dx Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,91.71,0.0,95.62,0.0,117.31,0.0,132.62,0.0,156.31,0.0
2,3I Infotech Ltd.,0.0,3.60,0.0,28.63,0.0,28.27,0.0,25.11,0.0,...,2.21,0.0,2.24,0.0,2.24,0.0,2.25,0.0,2.29,0.0
3,3M India Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0
4,3P Land Holdings Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,50.46,0.0,70.76,0.0,85.25,0.0,153.64,0.0,133.44,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,Zota Health Care Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,7.53,0.0,24.18,0.0,4.70,0.0,44.15,0.0,54.35,0.0
2157,Zr2 Bioenergy Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0
2158,Zuari Industries Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,2592.07,0.0,3449.90,0.0,4857.77,0.0,6431.52,0.0,6384.57,0.0
2159,Zydus Lifesciences Ltd.,0.0,20.69,0.0,20.69,0.0,170.20,0.0,24.19,0.0,...,1546.60,0.0,1674.70,0.0,1220.50,0.0,2595.90,0.0,6407.80,0.0
2160,Zydus Wellness Ltd.,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,...,70.00,0.0,64.20,0.0,77.60,0.0,367.20,0.0,36.40,0.0

In [1]:
df2 = pd.read_excel('/home/abhi/work/major_project/data/other_data/closing_price.ods')

NameError: name 'pd' is not defined

In [44]:
c = df[['Company Name']]

In [47]:
closing_price_df = df2.merge(c,on='Company Name', how='right')

In [48]:
closing_price_df

,Company Name,Jun 2010,Sep 2010,Dec 2010,Mar 2011,Jun 2011,Sep 2011,Dec 2011,Mar 2012,Jun 2012,...,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025,Jun 2025,Sep 2025,Dec 2025
0,20 Microns Ltd.,41.10,57.45,45.20,37.15,46.80,53.65,62.35,80.40,85.95,...,133.40,176.55,143.70,220.80,301.05,234.70,191.50,231.15,207.80,209.55
1,3B Blackbio Dx Ltd.,10.30,14.20,18.25,24.95,28.35,17.90,15.70,13.72,11.05,...,785.80,789.55,769.60,1121.00,1352.10,1978.65,1616.75,1454.05,1374.80,1325.20
2,3I Infotech Ltd.,60.45,60.15,59.75,43.80,46.20,26.30,11.70,15.50,9.83,...,40.39,49.18,39.47,36.48,32.11,28.07,21.13,25.03,21.55,20.50
3,3M India Ltd.,2772.70,3976.20,3621.40,3351.00,4190.45,4153.10,3516.75,3674.70,3885.25,...,31905.85,37205.65,31252.70,36823.40,33920.10,30421.15,28852.15,28522.75,29412.85,29506.20
4,3P Land Holdings Ltd.,25.30,27.10,25.00,18.90,20.25,17.00,15.15,16.10,12.74,...,24.11,26.96,27.48,38.13,37.80,59.05,37.36,50.42,43.40,43.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,Zota Health Care Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157,Zr2 Bioenergy Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.00,...,61.91,72.42,79.43,222.40,509.65,415.55,280.00,398.00,369.00,335.75
2158,Zuari Industries Ltd.,677.05,775.80,695.70,616.95,637.70,542.75,452.15,492.45,123.80,...,152.80,198.50,328.20,396.80,351.30,323.65,233.85,285.90,359.15,344.75
2159,Zydus Lifesciences Ltd.,657.90,656.10,778.35,791.30,919.30,756.20,704.65,760.10,769.20,...,615.15,689.05,1005.25,1074.35,1068.35,971.45,885.70,989.60,981.70,1001.35
2160,Zydus Wellness Ltd.,498.30,579.80,587.50,597.25,620.65,538.70,383.55,380.35,391.25,...,1567.75,1682.15,1470.90,1785.75,2013.90,1975.65,1671.55,2024.55,456.80,494.75

In [ ]:
#closing_price_df.fillna(0, inplace=True)

In [ ]:
#closing_price_df.to_csv('/home/abhi/work/major_project/data/data_cleaned/closing_price.csv')